{% extends 'user/base.html' %}
{% block content %}
{% if messages %}
		{% for message in messages %}
		<div class="alert alert-{{message.tags}} text-center">{{message}}</div>
		{% endfor %}
	{%endif%}

	<div class="container mt-2" style="width:50%">
		<div class="card mt-3" style="background:#f2f2f2;border-color:#f2f2f2;box-shadow:2px 2px 2px 2px">
		<div class="card-body" align="center">
			<h2 class="card-title"></h2>
            <div class="row">
            <div class="col-sm-4">
            <h6>Site Name:</h6>
            </div>
            <div class="col-sm-8">
            <b style="color:green">{{site.site_name}}</b>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
            <h6>Site URL:</h6>
            </div>
            <div class="col-sm-8">
            <b style="color:green">{{site.site_url}}</b>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
            <h6>Comment:</h6>
            </div>
            <div class="col-sm-8">
            <b style="color:green">{{site.site_text}}</b>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-4">
            <h6>Site Username:</h6>
            </div>
            <div class="col-sm-8">
            <b style="color:green">{{site.site_username}}</b>
            </div>
            </div>
        {% if decrypted_password %}
            <div class="row">
            <div class="col-sm-4">
            <h6>Site Password:</h6>
            </div>
            <div class="col-sm-8">
            <b style="color:green">{{decrypted_password}}</b>
            </div>
            </div>

            <div class="row">
            <div class="col-sm-6">
            <a href="{% url 'update-password' site.id %}" class="btn btn-outline-info">Update</a>
            </div>
            <div class="col-sm-6">
            <a href="{% url 'delete-password' site.id %}" class="btn btn-danger" style="background:red;color:#fff;border:red">Delete</a>
            </div>
            </div>
        {% else %}
             <form method="POST">
			{% csrf_token %}
				<!-- to error: add class "has-danger" -->
				<div class="form-group">
					<label for="exampleInputPassword1">Master Key</label>
					<input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="master_key">
				</div>
				<button type="submit" class="btn btn-block">Show Password</button>
			</form>
        {% endif %}

       
			<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
		</div>
		</div>
	</div
	

{% endblock content%}